html{
    scroll-behavior:smooth;
}

.sidebar{
    position:fixed;
    left:25px;
    top:60px;

    width:220px;

    background:white;

    border-radius:12px;

    padding:20px;

    box-shadow:0 0 20px rgba(0,0,0,.1);
}

.main{

margin-left:280px;

padding:40px;
}
